<h1>Editar Task Requirement</h1>

<%= render 'form', task_requirement: @task_requirement %>

<%= link_to 'Detalhes', @task_requirement, class: 'ui button' %> 
<%= link_to 'Voltar', task_requirements_path, class: 'ui button' %>
