<h1>Editar User Story Acceptance Criterion</h1>

<%= render 'form', user_story_acceptance_criterion: @user_story_acceptance_criterion %>

<%= link_to 'Detalhes', [@project, @theme, @user_story, @user_story_acceptance_criterion], class: 'ui button' %>
<%= link_to 'Voltar', [@project, @theme, @user_story], class: 'ui button' %>
