<h1>Novo User Story Acceptance Criterion</h1>

<%= render 'form', user_story_acceptance_criterion: @user_story_acceptance_criterion %>

<%= link_to 'Voltar', user_story_acceptance_criterions_path, class: 'ui button' %>
