<h1>Editar Function User Project</h1>

<%= render 'form', function_user_project: @function_user_project %>

<%= link_to 'Detalhes', @function_user_project, class: 'ui button' %> 
<%= link_to 'Voltar', function_user_projects_path, class: 'ui button' %>
