<!-- side left menu -->
<div class="ui vertical inverted left visible sidebar menu overlay labeled icon" style='width:200px;'>
  <%= link_to root_path, class: "#{is_current_page?(root_path)} item" do %>
  <i class="home icon"></i>
  Inicio
  <% end %>
</div>
